@model IEnumerable<MyThirtyDays.Models.VehiclesModel>

<!-- Begin Page Content -->
                <div class="container-fluid">

                    <div>
                        <h1>Fleet</h1>
                    </div>
                    <hr/>
                    <!-- Content Row -->
                    <div class="row">

@foreach (var item in Model) {
        
        

    <div class="card" style="width: 18rem;padding-top: 10px;">
            <img src="@item.FrontView_ImagePath" class="card-img-top" alt="@item.VehicleMake:@item.VehicleModel" style="aspect-ratio: 16/9;">
        <div class="card-body">
            <h5 class="card-title">Model: @item.VehicleMake</h5>
            <p class="card-text">Make: @item.VehicleModel</p>
            <p class="card-text">Registration: @item.VehicleRegistrationPlate</p>
            <p class="card-text">Capacity: @Html.DisplayFor(m => item.VehicleCapacity) Tonnes</p>
            

            @*<div class="container">*@

                <div class="flex-sm-row">

                    <div class="flex-sm-column">
                    <a href="/vehicles/Vehicle/?VehicleId=@item.VehicleId" class="btn btn-primary">Details</a>
                    </div>

                    <div class="flex-sm-column">
                    <a href="/vehicles/Edit/?VehicleId=@item.VehicleId" class="btn btn-primary">Edit</a>
                    </div>

                 </div>
                 <div class="flex-sm-row">
                    <div class="flex-column">
                    <a href="/vehicles/Delete/?VehicleId=@item.VehicleId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            @*</div>*@

        </div>
    </div>
}

</div>

                    <!-- Content Row -->

                    </div>
                    <!-- /.container-fluid -->
