@model MyThirtyDays.Models.VehiclesModel

<div>
    <h4>Vehicle</h4>
    <hr />

    <img src="/@Model.FrontView_ImagePath" class="card-img-top" alt="@Model.VehicleModel @Model.VehicleMake" style="aspect-ratio: 16/9;">
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleRegistrationPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleRegistrationPlate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
